<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

<title>{%block title%}ClosedTV{%endblock%}</title>

<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<meta name="robots" content="index, follow, noarchive" />
<meta name="googlebot" content="noarchive" />

<link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css" />

</head>

<body>

<!--header -->
<div id="header-wrap"><div id="header">

	<a name="top"></a>

	<h1 id="logo-text"><a href="/" title="">ClosedTV</a></h1>

	<div  id="nav">
		<ul>
			<li id="current"><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
		</ul>
	</div>


<!--/header-->
</div></div>
	
<!-- content-outer -->
<div id="content-wrap" class="clear" >

	<!-- content -->
   <div id="content">

   	<!-- main -->
	   <div id="main">

      	<div class="post">

      		<div class="right">

            	<h2>{%block h2 %}{%endblock%}</h2>
               <p>{%block content%}{%endblock%}
               </p>

            </div>


			</div>

        <!-- /main -->
		</div>

      <!-- sidebar -->
		<div id="sidebar">

			<div class="sidemenu">

				<h3>With Help from</h3>
            <ul>
					<li><a href="http://sourceforge.net/projects/epgcollector/">EPGCollector<br />
	            	<span>Opensource EPG grabber</span></a>
					<li><a href="http://www.dvblogic.com">DVBLogic<br />
	            	<span>DVBLink TVSource</span></a>
					<li><a href="http://github.com/welbymcroberts/ClosedTV/">ClosedTV<br />
	            	<span>Source for this site</span></a>
	            </li>
				</ul>

			</div>

      <!-- /sidebar -->
		</div>

    <!-- content -->
	</div>

<!-- /content-out -->
</div>
		
<!-- footer-outer -->
<div id="footer-outer" class="clear"><div id="footer-wrap">

<!-- /footer-outer -->
</div></div>

<!-- footer-bottom -->
<div id="footer-bottom">

	<p class="bottom-left">
		Design &copy; 2010 <strong>Copyright Info</strong>&nbsp; &nbsp; &nbsp;
		<a href="http://www.bluewebtemplates.com/" title="Website Templates">website templates</a> by <a href="http://www.styleshout.com/">styleshout</a>
		<br />Application &copy; 2010 <strong>Copyright Info</strong>&nbsp; &nbsp; &nbsp;
		<a href="http://www.whmcr.com">Welby McRoberts</a>
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" class="pp">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="SLD44RPCSJN2N">
<input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/GB/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online.">
</form>

	</p>

	<p class="bottom-right">
		<a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> |
	   <a href="http://validator.w3.org/check/referer">XHTML</a>	|
      <strong><a href="#top">Back to Top</a></strong>
   </p>

<!-- /footer-bottom-->
</div>

</body>
</html>
